---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const URL_RANDOM_AVATAR = 'https://api.minimalavatars.com/avatar/random/png'
---

<Layout title="Welcome to Astro.">
	<h1>hola mundo</h1>
	<Card
		title='Random image'
		body = 'Descripcion:'
		href = {URL_RANDOM_AVATAR}
	
	/>
	
</Layout>

<style>

</style>
